:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: auto;
  margin: 0 auto;
}

.ekart-menu {
  color: #36454F;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
}

.ekart-menu:hover {
  color: #28282B;
}